@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
    background: #060a1f;
    flex-direction: column;
}

.container {
    background: #0008;
    padding: 3rem;
    height: 18rem;
    border-radius: 8px;
}

#clock {
    display: flex;
}

.time {
    position: relative;
    margin: 0 5px;
    -webkit-box-reflect: below 10px linear-gradient(transparent, #0008);
}

.time span {
    position: relative;
    width: 100px;
    display: block;
    height: 80px;
    background: transparent;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.time span:nth-child(2) {
    height: 30px;
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    font-weight: 500;
}

footer {
    background: #0008;
    padding: 1rem;
    font-weight: 500;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
}

footer span a {
    margin-left: 5px;
    text-decoration: none;
    color: #fff;
    transition: all ease 300ms;
    font-size: 1.5rem;
    text-align: center;
    padding: 1px;
}

footer span a:hover {
    color: pink;
}



